header {
    height: 15vh;
    
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: rem;
    padding: 2px;
    height: 15vh;
    
}

.logo-container {
    margin-bottom: 2px;
}

header img {
    width: 18vh;
    
   
}

header .control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

header .options{
    display: flex;
    gap: 1rem;
}

header p {
    color: rgb(61, 59, 59);
    font-weight: bold;
}









