header {
    height: 10vh;
}

header nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem;
    padding: 5px;
    
}

.logo-container {
    margin-bottom: 50px;
}

header img {
    width: 30vh;
   
}











