.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-image: url("./Assets/calendar.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

}

.calendar form {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    font-weight: bold;
    color: rgb(92, 90, 90);
    width: 12rem;
}

.calendar h2 {
    color:  rgb(93, 92, 92);
}

.calendar button {
    margin-top: 0.8rem;
    font-size: 0.9rem;
    text-align: center;

  
}

.calendar .button2 {
   


}
.swal {

    color: red;
}

