.editbooking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-image: url("https://res.cloudinary.com/diudwa5sx/image/upload/v1663920255/nukiro/pierna_zhiwrh.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    width: 100%;
   

}

.editbooking form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
   

}

.editbooking h2 {

    color: rgb(81, 79, 79);
    align-items: center;
    margin-top: 5rem;

     
}

.editbooking button {
    margin-top: 0.8rem;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 2.5rem;
  
}

