.home {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url("https://res.cloudinary.com/diudwa5sx/image/upload/v1663920332/nukiro/masaje_meuii5.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 75vh;
  
    
  }



  .home h1{
    color: rgb(113, 112, 112);
    font-size: 30px ;
  }


 .home a{
  font-size: 25px;
  color: rgb(113, 112, 112);
 }

 .home a:hover {
  color: #40a7c1;
  padding: 2px 0;
  border-bottom: 2px solid #40a7c1;
}

