.home {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url("./assets/masaje.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  
    
  }

 

  

  .home h1{
    color: gray;
    font-size: 30px ;
  }


 .home a{
  font-size: 25px;
  color: grey;
 }

 .home a:hover {
  color: #4ac5e3;
  padding: 2px 0;
  border-bottom: 2px solid #4ac5e3;
}

