.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    background-image: url("./assets/manos.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
   
}

.register h2 {
    color: rgb(102, 101, 101);
    margin-top: 13px;
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-weight: bold;
    color: rgb(63, 61, 61);
    
}

.button {
    gap: 0.2rem;
}

.register a {
   
    justify-content: center;
    align-items: center;
    margin-top: 1px ;
    text-align: center;
    color: white;
}

.register a:hover {
    color: white;
    padding: 2px 0;
    border-bottom: 2px solid white;

}


.register button {
    margin-top: 0.4rem;
    font-size: 0.9rem;
    width: 9rem;
    text-align: center;
    margin-left: 0.6rem;
}