@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Taviraj:wght@100&display=swap');

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  
}

a{
  text-decoration: none;
 
}

li {

  list-style-type: none;
}



html{
  scroll-behavior: smooth;
}


body{

  font-family: 'Montserrat', sans-serif;
  background-color: white;
  
}

h1,h2 {
  color: gray;
}

h3{
  color:gray;
}

p {
  color:gray;
}

section {
  min-height: 75vh;
}

a {
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #4ac5e3;
  padding: 2px 0;
  border-bottom: 2px solid #4ac5e3;
}

strong {
  color: #4ac5e3;
}

button {
  outline: none;
  border: none;
  padding: 0.3rem 1rem;
  background-color: #60d6f3 ;
  border-radius: 0.8rem;
  font-weight: bold;
  color: white
  
}

